@using BlazorClient.Services
@inject AuthService auth
<div class="top-row px-4 " style="z-index:9;">
    <button type="button" class="btn btn-raised btn-danger" onclick="@LogOut">Logout</button>
</div>

@functions {
public void LogOut(){
this.auth.LogOut();
}
}
